# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm/

# Yarn integrity file
.yarn-integrity

# Other files
*.tgz